<div class="container">
  <h3>{{title}}</h3>
  <ul>
    <li>user.id: {{user.id}}</li>
    <li>user.nick: {{user.nick}}</li>
    <li>user.email: {{user.email}}</li>
    <li>user.password: {{user.password}}</li>
  </ul>
</div>