<div class="container">
  <h3>글작성</h3>
  <form action="sns" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <textarea class="form-control" rows="3" name="content"></textarea>
    </div>
    <div class="form-group">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile" name="img">
        <label class="custom-file-label" for="customFile">Choose a file</label>
      </div>
    </div>
    <div class="text-right">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>

<div class="container mb-4">
  {{#each posts}}
    <div class="card mb-2">
      <div class="card-header text-center">
        [ {{id}} ] {{userId}}
      </div>
      <div class="card-body">
        <div class="row">
          {{#if img}}
            <div class="col-sm-4">
              <img class="img-thumbnail" src="{{img}}">
            </div>
            <div class="col-sm-8">
              <p class="card-text text-left">{{breaklines content}}</p>
              <p class="card-text text-muted text-right">{{createdAt}} {{updatedAt}}</p>
            </div>
          {{else}}
            <div class="col-sm-12">
              <p class="card-text text-left">{{breaklines content}}</p>
              <p class="card-text text-muted text-right">created at: {{createdAt}}, updated at: {{updatedAt}}</p>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  {{/each}}
</div>

<script>
  var customFile = document.getElementById("customFile");
  var customFileLabel = document.querySelector(".custom-file-label");
  
  customFile.addEventListener("change", function(event) {
    var fileName = event.target.value;
    customFileLabel.innerHTML = fileName;
  });
</script>
